.logo {
  display: inline-block;
  width: 500px;
  height: 30px;
  margin: 0em;
  font-size: 130%;
  font-family: Helvetica,Arial,sans-serif;

 /* font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;*/
}